
html,
body{
  background-size: 300% 300%;
  padding: 0;
  margin: 0;
  min-height: 100%;
  width:100%;
  overflow:hidden;
  font-family: sans-serif;
}
.background_animate{
  position: fixed;
  background: $purple;
  top:0;
  height:100%;
  width:100%;
  &.a{
    background: $gradient;
  }
  &.b{
    background: linear-gradient(to right, $yellow 0%, $purple 100%);
    left:100%;
  }
}
